@charset "utf-8";
/* CSS Document */

#container {
	width: 1000px;
	margin: auto;
}

html, body {
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

body {
	font-family: Arial;
	font-size: 18px;
	color: DarkBlue;
	background: LightBlue;
    line-height: 1.88889;
}

#main-nav {
	height: 50px;
}

#header {
	height: 150px;
	border-bottom: 1px #9966CC solid;
	
}

#header h1
{
    font: Arial, georgia, sans-serif;
	text-align: center;
	color: DarkBlue;
	text-shadow: 0.2em 0.1em 0.15em DarkBlue;
}

#header h2
{
    font:Arial, georgia, sans-serif;
	text-align: center;
	color: LightBlue;
}

#sidebar-a {
	float: right;
	width: 225px;
	line-height: 18px;	
	border-left: 1px #9966CC solid;	
}

#sidebar-a li {
	list-style: none;
}

#sidebar-a  h2
{
    font:Arial, georgia, sans-serif;
	text-align: center;
	color: DarkBlue;
}

#content {
	margin-right: 225px;
	/*line-height: 18px;	*/
}

#footer {
	clear: both;
	height: 66px;
}

h1,h2 {
	margin: 0;
	padding: 0;
}

ul#menu
{
    border-bottom: 1px #9966CC solid;
    padding: 0 0 2px;
    /* position: relative; */
    margin: 0;
    text-align: left;
    /* width:50%; */
}

ul#menu li
{
    display: inline;
    list-style: none;
    color: DarkBlue;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: DarkBlue;
    color: LightBlue;   

}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

table
{
    color:#333333;border-collapse:collapse; 
}
			   

tr.odd
{
   color:#333333;background-color:DarkBlue;font-size:large;font-family:Verdana;border:medium solid white;
}    

tr.even
{
   color:#333333;background-color:#FFFFCC;font-size:large;font-family:Verdana;border:medium solid white;
} 

#galleryThumbnail
{
    /*width:100%;
    float: left;
     background-color: #fff; */
    margin: 10px;
    /*text-align:center;*/
}

#galleryThumbnail img
{
    box-shadow: 5px 5px 5px #111;
}

#galleryThumbnail p
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    color: #acbcc2;
    text-decoration: none;
    position: relative;
}

#galleryThumbnail p span
{
    width: 200px;
    background-color: #CCCCCC;
    color: DarkBlue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 5px #111;
    padding: 10px;
    visibility: hidden;
    position: absolute;
    z-index: 10;
    top: -50px;
    left: 100px;
}

#galleryThumbnail p:hover span
{
    visibility: visible;
}

#galleryThumbnail a
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    color: #acbcc2;
    text-decoration: none;
    position: relative;
}

.row
{
    padding: 15px;

}

.cell
{
    padding: 25px;
	display:inline-block;
}

#searchBox
{
    float:right;

}

#leftItemTemplate,#rightItemTemplate 
{
    padding: 0 0px;
    margin: 0;
}

#leftItemTemplate 
{
    float: left;
    padding: 5px;
    width: 30%;
}

#rightItemTemplate 
{
    float: right;
    padding: 5px;
    width: 60%;
}

#leftItemTemplate h2
{
    text-align: left;
    font: italic normal bold 2.1em "New Century Schoolbook", georgia, sans-serif;
    color: DarkBlue;
}

#leftItemTemplate h3
{
    text-align: left;
    font: italic normal bold 1.7em  "New Century Schoolbook", georgia, sans-serif;
    color: DarkBlue;    
}

#rightItemTemplate h3
{
    text-align: left;
    font: italic normal bold 1.7em  "New Century Schoolbook", georgia, sans-serif;
    color: DarkBlue;    
}

#tracks
{
	clear: both;
    width: 80%;
	font: normal bold 1.2em Arial, Helvetica, sans-serif;
}

#tracks li {
	list-style: none;

}

#album h2
{
    text-align: left;
    font: italic normal bold 2.1em "New Century Schoolbook", georgia, sans-serif;
    color: DarkBlue;
}


#ratingFormDiv
{
	display:none;
}

#logout
{
	clear:both;
}

#layoutform {
	width: 450px; 
	background-color:#eeeeff;
	border: 1px solid #849bbb; 
	padding: 5px;
	margin: 0px;
}

#layoutform div.row {
/*	clear: both;*/
	padding-top: 15px;
}

#layoutform div.row span.label {
	float: left;
	width: 100px;
	text-align: left;
	color: #032757;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
  }

#layoutform div.row span.info {
	float: left;
	width:250px;
	text-align: left;
	color: #032757;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	
	font-weight: bold;
  }
  
#layoutform div.row span.formw {
	float: right;
	width: 300px;
	text-align: left;
  } 
  

.image-squares a {
			padding: 2px;
			float: left;
			/*width: 50px;
			height: 40px;*/
}
.image-squares img {
			max-width: 100px;
			max-height: 100px;
			/*position: relative;*/
}
#searchOutput {
			/*width: 100%;
			height: 90%; 
			overflow: hidden;*/
}


#previews
{
	padding: 25px;
}

#previews p
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    color: #acbcc2;
    text-decoration: none;
    position: relative;    
}

#previews p span
{
    width: 200px;
    background-color: #CCCCCC;
    color: DarkBlue;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 5px #111;
    padding: 10px;
    visibility: hidden;
    position: absolute;
    z-index: 10;
    top: -40px;
    left: 100px;
}

#previews p:hover span
{
    visibility: visible;
}

#previews img
{
    box-shadow: 5px 5px 5px #111;
}

.album-image
{
	width:100px;
	height: 100px;
}

.album-image-magnified
{
	width:300px;
	height:300px;
}